body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .app-container {
    display: flex;
  }
  
  .conversation-list {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .conversation-list h1 {
    font-size: 2em;
    color: #333; 
    margin-bottom: 10px;
  }
  
  .individual-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .individual-item:hover {
    background-color: #e0e0e0; 
  }

  .individual-item h2{
    font-size: 1.2em;
    margin-top: .3em;
    margin-bottom: .3em;
  }
  

  .individual-item p{
    margin-top: .3em;
    margin-bottom: .3em;
  }


  .conversation-details {
    flex: 1;
    padding: 20px;
    background-color: #fff; 
  }
  
  .conversation-details h2 {
    font-size: 1.8em;
    color: #333; 
    margin-bottom: 20px;
  }
  

  